.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    /* opacity: 0.5; */
}

main {
    overflow-y: auto;
    height: 100%;
}

main div {
    /* min-height: 100%; */
    display: grid;
    place-content: center;
    border: 1px solid red;
}

footer {
    /* opacity: 0.5; */
}
